body {
    margin: 0;
    font-family: sans-serif;
}

.hidden {
    display: none;
}

#menu {
    width: 25%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

#menu li {
    color: #FFFFFF;
    font-size: 20px;
    margin: 20px;
}

#sheet {
    width:100%;
}

svg {
    width: 100%;
    height: 100%;
}

svg path {
    cursor: pointer;
}

#palatte {
    background: -webkit-linear-gradient(#bfbfbf, #858585);
    background:    -moz-linear-gradient(#bfbfbf, #858585);
    background:         linear-gradient(#bfbfbf, #858585);
    border-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0 5px;
    position: absolute;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
       -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
            box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

.swatch {
    border: 1px black solid;
    border-radius: 10px;
    margin: 10px 5px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    float: left;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
       -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
            box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

.swatch:hover {
    border: 3px black solid;
    margin: 7px 3px;
}

.swatch img {
    border-radius: 10px;
}

.selected-color {
    border: 3px black solid;
    margin: 7px 3px;
}
