{% load static %}

%head
    %title Coloring Cloud
    %link(href="{% static 'color/styles/main.css' %}" type="text/css" rel="stylesheet")

%body
    {% autoescape off %}
    {{ svg }}
    {% endautoescape %}
    %script(src="{% static 'color/js/main.js' %}" type="text/javascript")
