{% load static %}

%head
    %title Coloring Cloud
    %link(href="{% static 'color/styles/main.css' %}" type="text/css" rel="stylesheet")

%body
    #easel
        %ol#palatte
            {% for color in colors %}
                {% if forloop.first %}
                    %li.swatch.selected-color(id="{{color}}")
                {% else %}
                    %li.swatch(id="{{color}}")
                {% endif %}
            {% endfor %}
        #sheet
            {% autoescape off %}
            {{ svg }}
            {% endautoescape %}

    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    %script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    %script(src="{% static 'color/js/main.js' %}" type="text/javascript")
