{% load static %}

%head
    %title Coloring Cloud
    %link(href="{% static 'color/styles/main.css' %}" type="text/css" rel="stylesheet")

%body
    %ul#menu.hidden
        %li#resume Resume
        %li#exit Exit
    #easel
        %ul#palatte
            {% for color in colors %}
                {% if forloop.first %}
                    %li.swatch.selected-color(data-color="{{color}}")
                {% else %}
                    %li.swatch(data-color="{{color}}")
                {% endif %}
            {% endfor %}
            %li#reset.swatch
                %img(src="{% static 'color/images/reset_icon.png' %}" width="50px" height="50px")
            %li#menu-icon.swatch
                %img(src="{% static 'color/images/home_icon.png' %}" width="50px" height="50px")
        #sheet
            {% autoescape off %}
            {{ svg }}
            {% endautoescape %}

    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    %script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    %script(src="{% static 'color/js/main.js' %}" type="text/javascript")
